@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&family=Inter:wght@300;400;500;600&display=swap');

@theme {
  /* 七曜魔法状态色*/
  --color-magic-water: hsl(190 90% 50%);
  --color-magic-wood: hsl(150 80% 45%);
  --color-magic-fire: hsl(340 80% 60%);
  --color-magic-earth: hsl(30 20% 50%);
  --color-magic-metal: hsl(52 82% 73%);
  --color-magic-moon: hsl(260 70% 65%);
  --color-magic-sun: hsl(45 100% 60%);
  
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-background: #0e0e12;
  --color-surface: #0e0e12;
  --color-surface-dim: #0e0e12;
  --color-surface-container: #19191e;
  --color-surface-container-low: #131317;
  --color-surface-container-high: #1f1f25;
  --color-surface-container-highest: #25252b;
  --color-on-surface: #fcf8fe;
  --color-primary: #c59aff;
  --color-primary-dim: #9547f7;
  --color-secondary-container: #454652;
  --color-on-secondary-container: #d0cfde;
  --color-outline: #76757a;
  --color-tertiary: #a1faff;
}

@layer utilities {
  .nebula-glow {
    text-shadow: 0 0 15px rgba(197, 154, 255, 0.4);
  }
  .glass-panel {
    background: rgba(31, 31, 37, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 
      inset 0 1px 1px rgba(255, 255, 255, 0.15),   /* 顶部锐利高光 */
      inset 1px 0 1px rgba(255, 255, 255, 0.05),   /* 左侧微弱侧光 */
      inset 0 -1px 1px rgba(0, 0, 0, 0.4),         /* 底部暗部截断 */
      0 4px 12px rgba(0, 0, 0, 0.2);               /* 基础环境光遮蔽 (AO) */
  }
  .ghost-border {
    border: 0.5px solid rgba(197, 154, 255, 0.15);
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  @apply bg-background text-on-surface font-inter antialiased;
}
